.ds-table-wrap {
  @include reset;
  width: 100%;
  overflow: auto;
}

.ds-table {
  @include reset;
  width: 100%;
}

.ds-table-col {
  @include reset;
  vertical-align: top;
  padding: $space-small $space-xx-small;
}

.ds-table-head-col {
  @include reset;
  padding: $space-small $space-xx-small;
  text-align: left;
  font-weight: $font-weight-bold;
}

// bordered
.ds-table-bordered {
  .ds-table-col,
  .ds-table-head-col {
    border-bottom: $border-color-softer dotted $border-size-base;
  }

  tr:last-child .ds-table-col {
    border-bottom: none;
  }
}

// condensed
.ds-table-condensed {
  .ds-table-col,
  .ds-table-head-col {
    padding-top: $space-x-small;
    padding-bottom: $space-x-small;
  }
}

.ds-table-col,
.ds-table-head-col {
  &.ds-table-col-left,
  &.ds-table-head-col-left {
    text-align: left;
  }
  &.ds-table-col-center,
  &.ds-table-head-col-center {
    text-align: center;
  }
  &.ds-table-col-right,
  &.ds-table-head-col-right {
    text-align: right;
  }
}
