.ds-heading {
  @include reset;
  @include stack-space($font-space-large, $font-space-xxxx-large);
  font-family: $font-family-heading;
  line-height: $line-height-small;
  letter-spacing: $letter-spacing-small;
  font-weight: $font-weight-bold;
}

.ds-heading-primary {
  color: $text-color-primary;
}

.ds-heading-soft {
  color: $text-color-softer;
}

.ds-heading-h1 {
  font-size: $font-size-xx-large;
  @media #{$media-query-large} {
    font-size: $font-size-xxx-large;
  }
}

.ds-heading-h2 {
  font-size: $font-size-xx-large;
}

.ds-heading-h3 {
  font-size: $font-size-x-large;
}

.ds-heading-h4 {
  font-size: $font-size-large;
}

.ds-heading-h5 {
  font-size: $font-size-base;
}

.ds-heading-h6 {
  font-size: $font-size-small;
}

.ds-heading-no-margin {
  margin: 0;
}

.ds-heading-align-left {
  text-align: left
}
.ds-heading-align-center {
  text-align: center
}
.ds-heading-align-right {
  text-align: right
}
