.ds-icon {
  @include reset;
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  height: 1em;
}

.ds-icon-svg {
  line-height: 1;
  height: 1.2em;
  // Use this if the icons are build with strokes
  // stroke: currentColor;
  // stroke-width: 2.5px;
  // stroke-linejoin: miter;
  // stroke-linecap: miter;
  // overflow: visible;
  // Use this if the icons are build with solids
  fill: currentColor
}

.ds-icon-size-xx-small {
  font-size: $font-size-xx-small
}
.ds-icon-size-x-small {
  font-size: $font-size-x-small
}
.ds-icon-size-small {
  font-size: $font-size-small
}
.ds-icon-size-base {
  font-size: $font-size-base
}
.ds-icon-size-large {
  font-size: $font-size-large
}
.ds-icon-size-x-large {
  font-size: $font-size-x-large
}
.ds-icon-size-xx-large {
  font-size: $font-size-xx-large
}
.ds-icon-size-xxx-large {
  font-size: $font-size-xxx-large
}
