[submodule "WebApp"]
	path = WebApp
	url = https://github.com/Human-Connection/WebApp.git
[submodule "API"]
	path = API
	url = https://github.com/Human-Connection/API.git
[submodule "Nitro-Web"]
	path = Nitro-Web
	url = git@github.com:Human-Connection/Nitro-Web.git
[submodule "Nitro-Backend"]
	path = Nitro-Backend
	url = git@github.com:Human-Connection/Nitro-Backend.git
