.ds-list {
  @include reset;
  @include stack-space($font-space-x-large);
  font-family: $font-family-text;
  line-height: $line-height-base;
  list-style-type: none;
  text-align: left;
}

ol.ds-list {
  counter-reset: list-counter;
}

.ds-list-size-small {
  font-size: $font-size-small;
}

.ds-list-size-base {
  font-size: $font-size-base;
}

.ds-list-size-large {
  font-size: $font-size-large;
}

.ds-list-size-x-large {
  font-size: $font-size-x-large;
}

.ds-list-item {
  @include reset;
  @include stack-space($font-space-x-large);
  display: flex;
}

.ds-list-item-prefix {
  flex: 0 0 $font-space-xxx-large;
  color: $text-color-primary;
}

.ds-list-item-content {
  @include layout-flex-fix;
  flex: 1 1 0;
}

ol > .ds-list-item > .ds-list-item-prefix:before, .ds-list-item-icon {
  display: flex;
  transform: translateY(0.2em);
  align-items: center;
  justify-content: center;
  width: $font-space-xxx-large;
  height: $font-space-xxx-large + .4em;
  font-size: 0.6em;
  // border-radius: $border-radius-circle;
  color: $text-color-soft;
  // background-color: $background-color-softest;
}

ol > .ds-list-item > .ds-list-item-prefix:before {
  content: counter(list-counter);
  counter-increment: list-counter;
}
