<!-- Email Body English : BEGIN -->
<table class="email-english" align="center" role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%"
  style="margin: auto;">
  <tr>
    <td style="padding: 20px 0; text-align: center">
    </td>
  </tr>

  <!-- Hero Image, Flush : BEGIN -->
  <tr>
    <td style="background-color: #ffffff;">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/gitbook-28427.appspot.com/o/assets%2F-LcGvGRsW6DrZn7FWRzF%2F-LcGv6EiVcsjYLfQ_2YE%2F-LcGv8UtmAWc61fxGveg%2Flets_get_together.png?generation=1555078880410873&alt=media"
        width="600" height="" alt="Human Connection community logo" border="0"
        style="width: 100%; max-width: 600px; height: auto; background: #ffffff; font-family: Lato, sans-serif; font-size: 16px; line-height: 15px; color: #555555; margin: auto; display: block;"
        class="g-img">
    </td>
  </tr>
  <!-- Hero Image, Flush : END -->

  <!-- 1 Column Text + Button : BEGIN -->
  <tr>
    <td style="background-color: #ffffff; padding: 0 20px;">
      <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
        <tr>
          <td
            style="padding: 20px; padding-top: 0; font-family: Lato, sans-serif; font-size: 16px; line-height: 22px; color: #555555;">
            <h1
              style="margin: 0 0 10px 0; font-family: Lato, sans-serif; font-size: 25px; line-height: 30px; color: #333333; font-weight: normal;">
              Hello {{ name }}!</h1>
            <p style="margin: 0;">So, you forgot your password? No problem! We have sent you a new one</p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <!-- 1 Column Text + Button : END -->

  <!-- 1 Column Text : BEGIN -->
  <tr>
    <td style="background-color: #ffffff; padding: 0 20px;">
      <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
        <tr>
          <td
            style="padding: 20px; padding-bottom: 0; font-family: Lato, sans-serif; font-size: 16px; line-height: 22px; color: #555555;">
            <p style="margin: 0;">If you didn't request a new password feel free to ignore this e-mail. You can
              also contact our support team if you have any questions!</p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <!-- 1 Column Text : END -->

  <!-- 1 Column Text : BEGIN -->
  <tr>
    <td style="background-color: #ffffff; padding: 0 20px;">
      <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
        <tr>
          <td style="padding: 20px; font-family: Lato, sans-serif; font-size: 16px; line-height: 22px; color: #555555;">
            <p style="margin: 0;">Here is the new password: <span style="color: #17b53e;">{{{ nonce }}}</span></p>
            <p style="margin: 0; margin-bottom: 10px;"> Best regards! </p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <!-- 1 Column Text : END -->

</table>
<!-- Email Body English : END -->
