<!-- Email Body German : BEGIN -->
<table class="email-german" align="center" role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%"
  style="margin: auto;">

  <!-- Hero Image, Flush : BEGIN -->
  <tr>
    <td style="background-color: #ffffff;">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/gitbook-28427.appspot.com/o/assets%2F-LcGvGRsW6DrZn7FWRzF%2F-LcGv6EiVcsjYLfQ_2YE%2F-LcGv8UtmAWc61fxGveg%2Flets_get_together.png?generation=1555078880410873&alt=media"
        width="600" height="" alt="Human Connection community logo" border="0"
        style="width: 100%; max-width: 600px; height: auto; background: #ffffff; font-family: Lato, sans-serif; font-size: 16px; line-height: 15px; color: #555555; margin: auto; display: block;"
        class="g-img">
    </td>
  </tr>
  <!-- Hero Image, Flush : END -->

  <!-- 1 Column Text + Button : BEGIN -->
  <tr>
    <td style="background-color: #ffffff; padding: 0 20px;">
      <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
        <tr>
          <td
            style="padding: 20px; padding-top: 0; font-family: Lato, sans-serif; font-size: 16px; line-height: 22px; color: #555555;">
            <h1
              style="margin: 0 0 10px 0; font-family: Lato, sans-serif; font-size: 25px; line-height: 30px; color: #333333; font-weight: normal;">
              Willkommen bei Human Connection!</h1>
            <p style="margin: 0;">Danke, dass Du dich angemeldet hast – wir freuen uns, Dich dabei zu haben. Jetzt
              fehlt nur noch eine Kleinigkeit, bevor wir gemeinsam die Welt verbessern können ... Bitte bestätige
              Deine E-Mail Adresse:</p>
          </td>
        </tr>
        <tr>
          <td style="padding: 0 20px;">
            <!-- Button : BEGIN -->
            <table align="center" role="presentation" cellspacing="0" cellpadding="0" border="0" style="margin: auto;">
              <tr>
                <td class="button-td button-td-primary" style="border-radius: 4px; background: #17b53e;">
                  <a class="button-a button-a-primary" href="{{{ actionUrl }}}"
                    style="background: #17b53e; font-family: Lato, sans-serif; font-size: 16px; line-height: 15px; text-decoration: none; padding: 13px 17px; color: #ffffff; display: block; border-radius: 4px;">Bestätige
                    Deine E-Mail Adresse</a>
                </td>
              </tr>
            </table>
            <!-- Button : END -->
          </td>
        </tr>
        <tr>
          <td style="text-align: center; color :#17b53e">
            <p>–––––––––––––––––––––––––––––––––––––––––––––––</p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <!-- 1 Column Text + Button : END -->

  <!-- 1 Column Text : BEGIN -->
  <tr>
    <td style="background-color: #ffffff; padding: 0 20px;">
      <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
        <tr>
          <td style="padding: 20px; font-family: Lato, sans-serif; font-size: 16px; line-height: 22px; color: #555555;">
            <p style="margin: 0;">Sollte der Button für Dich nicht funktionieren, kannst Du auch folgenden Code in Dein Browserfenster kopieren: <span style="color: #17b53e;">{{{ nonce }}}</span></p>
            <p style="margin: 0;">Das funktioniert allerdings nur, wenn du Dich über unsere Website registriert hast.</p>
            <p style="margin: 0; margin-top: 10px;">Falls Du Dich nicht selbst bei <a href="https://human-connection.org"
                style="color: #17b53e;">Human Connection</a> angemeldet hast, schau doch mal vorbei!
              Wir sind ein gemeinnütziges Aktionsnetzwerk – von Menschen für Menschen.</p>
            <p style="margin: 0; margin-top: 10px;">PS: Wenn Du keinen Account bei uns möchtest, kannst Du diese
              E-Mail einfach ignorieren. ;)</p>
          </td>
        </tr>
        <tr>
          <td style="text-align: center; color :#17b53e">
            <p>–––––––––––––––––––––––––––––––––––––––––––––––</p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <!-- 1 Column Text : END -->

  <!-- 1 Column Text : BEGIN -->
  <tr>
    <td style="background-color: #ffffff; padding: 0 20px;">
      <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
        <tr>
          <td style="padding: 20px; font-family: Lato, sans-serif; font-size: 16px; line-height: 22px; color: #555555;">
            <p style="margin: 0;">Melde Dich gerne <a href="{{{ supportUrl }}}" style="color: #17b53e;">bei
                unserem Support Team</a>, wenn Du Fragen hast.</p>
            <p style="margin: 0; margin-top: 10px;">Bis bald bei <a href="https://human-connection.org"
                style="color: #17b53e;">Human Connection</a>!</p>
            <p style="margin: 0; margin-bottom: 10px;">– Dein Human Connection Team</p>
          </td>
        </tr>
        <tr>
          <td style="display: none;">
            <p>–––––––––––––––––––––––––––––––––––––––––––––––</p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <!-- 1 Column Text : END -->

</table>
<!-- Email Body German : END -->

<!-- Email Body English : BEGIN -->
<table class="email-english" align="center" role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%"
  style="margin: auto;">
  <tr>
    <td style="padding: 20px 0; text-align: center">
    </td>
  </tr>

  <!-- Hero Image, Flush : BEGIN -->
  <tr>
    <td style="background-color: #ffffff;">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/gitbook-28427.appspot.com/o/assets%2F-LcGvGRsW6DrZn7FWRzF%2F-LcGv6EiVcsjYLfQ_2YE%2F-LcGv8UtmAWc61fxGveg%2Flets_get_together.png?generation=1555078880410873&alt=media"
        width="600" height="" alt="Human Connection community logo" border="0"
        style="width: 100%; max-width: 600px; height: auto; background: #ffffff; font-family: Lato, sans-serif; font-size: 16px; line-height: 15px; color: #555555; margin: auto; display: block;"
        class="g-img">
    </td>
  </tr>
  <!-- Hero Image, Flush : END -->

  <!-- 1 Column Text + Button : BEGIN -->
  <tr>
    <td style="background-color: #ffffff; padding: 0 20px;">
      <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
        <tr>
          <td
            style="padding: 20px; padding-top: 0; font-family: Lato, sans-serif; font-size: 16px; line-height: 22px; color: #555555;">
            <h1
              style="margin: 0 0 10px 0; font-family: Lato, sans-serif; font-size: 25px; line-height: 30px; color: #333333; font-weight: normal;">
              Welcome to Human Connection!</h1>
            <p style="margin: 0;">Thank you for joining our cause – it's awesome to have you on board. There's
              just one tiny step missing before we can start shaping the world together ... Please confirm your
              e-mail address by clicking the button below:</p>
          </td>
        </tr>
        <tr>
          <td style="padding: 0 20px;">
            <!-- Button : BEGIN -->
            <table align="center" role="presentation" cellspacing="0" cellpadding="0" border="0" style="margin: auto;">
              <tr>
                <td class="button-td button-td-primary" style="border-radius: 4px; background: #17b53e;">
                  <a class="button-a button-a-primary" href="{{{ actionUrl }}}"
                    style="background: #17b53e; font-family: Lato, sans-serif; font-size: 16px; line-height: 15px; text-decoration: none; padding: 13px 17px; color: #ffffff; display: block; border-radius: 4px;">Confirm
                    your e-mail address</a>
                </td>
              </tr>
            </table>
            <!-- Button : END -->
          </td>
        </tr>
        <tr>
          <td style="text-align: center; color :#17b53e">
            <p>–––––––––––––––––––––––––––––––––––––––––––––––</p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <!-- 1 Column Text + Button : END -->

  <!-- 1 Column Text : BEGIN -->
  <tr>
    <td style="background-color: #ffffff; padding: 0 20px;">
      <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
        <tr>
          <td style="padding: 20px; font-family: Lato, sans-serif; font-size: 16px; line-height: 22px; color: #555555;">
            <p style="margin: 0;">If the above button doesn't work, you can also copy the following code into your browser window: <span style="color: #17b53e;">{{{ nonce }}}</span></p>
            <p style="margin: 0;">However, this only works if you have registered through our website.</p>
            <p style="margin: 0; margin-top: 10px;">If you didn't sign up for <a href="https://human-connection.org"
                style="color: #17b53e;">Human Connection</a> we recommend you to check it out!
              It's a social network from people for people who want to connect and change the world together.</p>
            <p style="margin: 0; margin-top: 10px;">PS: If you ignore this e-mail we will not create an account
              for
              you. ;)</p>
          </td>
        </tr>
        <tr>
          <td style="text-align: center; color :#17b53e">
            <p>–––––––––––––––––––––––––––––––––––––––––––––––</p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <!-- 1 Column Text : END -->

  <!-- 1 Column Text : BEGIN -->
  <tr>
    <td style="background-color: #ffffff; padding: 0 20px;">
      <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
        <tr>
          <td style="padding: 20px; font-family: Lato, sans-serif; font-size: 16px; line-height: 22px; color: #555555;">
            <p style="margin: 0;">Feel free to <a href="{{{ supportUrl }}}" style="color: #17b53e;">contact our
                support team</a> with any
              questions you have.</p>
            <p style="margin: 0; margin-top: 10px;">See you soon on <a href="https://human-connection.org"
                style="color: #17b53e;">Human Connection</a>!</p>
            <p style="margin: 0; margin-bottom: 10px;">– The Human Connection Team</p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <!-- 1 Column Text : END -->

</table>
<!-- Email Body English : END -->
