<!-- Email Body English : BEGIN -->
<table class="email-english" align="center" role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%"
  style="margin: auto;">
  <tr>
    <td style="padding: 20px 0; text-align: center">
    </td>
  </tr>

  <!-- Hero Image, Flush : BEGIN -->
  <tr>
    <td style="background-color: #ffffff;">
      <img
        src="https://raw.githubusercontent.com/JusticeInternational/Human-Connection/feat/red-sol-new-models/backend/public/img/badges/logo.jpeg"
        width="600" height="" alt="Red Sol community logo" border="0"
        style="width: 100%; max-width: 600px; height: auto; background: #ffffff; font-family: Lato, sans-serif; font-size: 16px; line-height: 15px; color: #555555; margin: auto; display: block;"
        class="g-img">
    </td>
  </tr>
  <!-- Hero Image, Flush : END -->

  <!-- 1 Column Text + Button : BEGIN -->
  <tr>
    <td style="background-color: #ffffff; padding: 0 20px;">
      <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
        <tr>
          <td
            style="padding: 20px; padding-top: 0; font-family: Lato, sans-serif; font-size: 16px; line-height: 22px; color: #555555;">
            <h1
              style="margin: 0 0 10px 0; font-family: Lato, sans-serif; font-size: 25px; line-height: 30px; color: #333333; font-weight: normal;">
              Hello!</h1>
            <p style="margin: 0;">Usted ha solicitado una nueva contraseña pero desafortunadamente no pudimos encontrar 
              una cuenta asociada a su correo dirección de correo electrónico.</p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <!-- 1 Column Text + Button : END -->

  <!-- 1 Column Text : BEGIN -->
  <tr>
    <td style="background-color: #ffffff; padding: 0 20px;">
      <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
        <tr>
          <td style="padding: 20px; font-family: Lato, sans-serif; font-size: 16px; line-height: 22px; color: #555555;">
            <p style="margin: 0;">Si no está registrado en nuesta<a style="color: #17b53e;">Red Sol app</a> aún o si no quiere reiniciar su contraseña,
              por favor ignore este correo electrónico.</p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <!-- 1 Column Text : END -->

  <!-- 1 Column Text : BEGIN -->
  <tr>
    <td style="background-color: #ffffff; padding: 0 20px;">
      <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
        <tr>
          <td style="padding: 20px; font-family: Lato, sans-serif; font-size: 16px; line-height: 22px; color: #555555;">
            <p style="margin: 0; margin-bottom: 10px; margin-top: 10px;"> Muchas gracias,</p>
            <p style="margin: 0; margin-bottom: 10px; margin-top: 10px;"> El equipo de RedSol.app </p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <!-- 1 Column Text : END -->

</table>
<!-- Email Body English : END -->
