.ds-section {
  @include reset;
  padding: $space-large 0;
  background-color: $background-color-soft;

  @media #{$media-query-medium} {
    padding: $space-x-large 0;
  }
}

.ds-section-centered {
  text-align: center;
}

.ds-section-primary {
  color: $text-color-primary-inverse;
  @include gradient-pattern($background-color-primary-active, $background-color-primary);
}

.ds-section-secondary {
  color: $text-color-secondary-inverse;
  @include gradient-pattern($background-color-secondary-active, $background-color-secondary);
}

.ds-section-fullheight {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.ds-section-content {
  flex: 0 0 100%;
}
