.ds-number {
  text-align: center;
}
.ds-number-count {
  font-weight: bold;
}
.ds-number-label {
  font-size: $font-size-small;
}
// .ds-number-size-x-large,
// .ds-number-size-xx-large {
//   .ds-number-label {
//     font-size: $font-size-base;
//   }
// }
