@keyframes ds-animation-shake {
  from, to {
    transform: translate3d(0, 0, 0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translate3d(-5px, 0, 0);
  }
  20%, 40%, 60%, 80% {
    transform: translate3d(5px, 0, 0);
  }
}

.ds-animated {
  animation-duration: 0.8s;
  animation-fill-mode: both;
}
.ds-animation-shake {
  animation-name: ds-animation-shake;
}
