/* FORM VARIABLES / MIXINS
--------------------------------------------- */

$input-border-size: $border-size-base;
$input-padding-vertical: $space-x-small;
$input-height: calc(
  #{$font-size-base * $line-height-base} + #{($input-padding-vertical + $input-border-size) * 2}
);

$input-padding-vertical-small: $space-xx-small;
$input-height-small: calc(
  #{$font-size-small * $line-height-base} + #{($input-padding-vertical-small + $input-border-size) * 2}
);

$input-padding-vertical-large: $space-x-small;
$input-height-large: calc(
  #{$font-size-large * $line-height-base} + #{($input-padding-vertical-large + $input-border-size) * 2}
);