* {
  box-sizing: border-box;
}

button {
  padding: 0;
  background: transparent;
  border: none;
  font-family: inherit;
  font-size: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
