.ds-code {
  @include reset;
  @include stack-space($font-space-x-large);
  font-family: $font-family-code;
  line-height: $line-height-base;
  color: $text-color-inverse;
  background: $background-color-inverse-softer;
  padding: $space-small;
  border-radius: $border-radius-base;
}

.ds-code-inline {
  display: inline-block;
  padding: $space-xxx-small $space-x-small;
  margin-bottom: 0;
}

.ds-code-size-small {
  font-size: $font-size-small;
}

.ds-code-size-base {
  font-size: $font-size-base;
}

.ds-code-size-large {
  font-size: $font-size-large;
}
