.ds-menu {
  @include reset;
}

.ds-menu-inverse {
  background-color: $background-color-inverse-soft;
}

.ds-menu-navbar {
  height: 100%;
}

ul.ds-menu-list {
  @include reset;
  list-style: none;
  padding-left: 0;

  .ds-menu-navbar & {
    display: flex;
    height: 100%;
  }
}

.ds-menu-item {
}

.ds-menu-item-navbar {
  position: relative;

  &.ds-menu-item-level-0 {
    margin-right: $space-x-small;
    height: 100%;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.ds-menu-item-link {
  @include reset;
  display: block;
  color: $text-color-base;
  text-decoration: none;
  padding: $space-x-small $space-small;
  transition: color $duration-short $ease-out;
  border-left: 2px solid transparent;
  
  &.router-link-active {
    color: $text-color-link-active;
  }
  
  &:hover {
    color: $text-color-link-active;
  }
  
  &.router-link-exact-active {
    color: $text-color-link;
    background-color: $background-color-soft;
    border-left: 2px solid $color-primary;
  }

  .ds-menu-item-inverse & {
    color: $text-color-softer;

    &.router-link-active {
      color: $text-color-link-active;
    }

    &:hover {
      color: $text-color-link-active;
    }

    &.router-link-exact-active {
      background-color: $background-color-inverse;
    }
  }

  .ds-menu-item-inverse.ds-menu-item-show-submenu > & {
    color: $text-color-link-active;
  }

  .ds-menu-item-level-1 & {
    font-size: $font-size-small;
    padding-left: $space-x-small * 3;
  }

  .ds-menu-item-level-2 & {
    font-size: $font-size-small;
    padding-left: $space-x-small * 4;
  }

  .ds-menu-item-navbar & {
    font-size: $font-size-base;
    padding: $space-small $space-small;
  }

  .ds-menu-item-navbar.ds-menu-item-level-0 > & {
    position: relative;
    height: 100%;
    display: inline-flex;
    align-items: center;
    font-weight: $font-weight-bold;
    &:before {
      position: absolute;
      content: '';
      left: 0;
      right: 0;
      bottom: 0;
      height: $border-size-large;
      background: $text-color-link-active;
      opacity: 0;
      transition: opacity $duration-short $ease-out;
    }

    &,
    &:hover,
    &.router-link-exact-active {
      background-color: transparent;
    }

    &:hover,
    &.router-link-active {
      &:before {
        opacity: 1;
      }
    }
  }

  .ds-menu-item-navbar.ds-menu-item-show-submenu.ds-menu-item-level-0 > & {
    color: $text-color-link-active;
    &:before {
      opacity: 1;
    }
  }
}

ul.ds-menu-item-submenu {
  @include reset;
  list-style: none;
  padding-left: 0;

  .ds-menu-item-navbar & {
    position: absolute;
    left: 0;
    top: 100%;
    min-width: 150px;
    z-index: $z-index-page-submenu;
    background-color: $background-color-base;
    box-shadow: $box-shadow-base;
    opacity: 0;
    visibility: hidden;
    transform: translateY($space-x-small) scaleY(0.5);
    transform-origin: 50% 0%;
    transition: all $duration-short $ease-in;
  }

  .ds-menu-item-navbar.ds-menu-item-inverse & {
    background-color: $background-color-inverse-soft;
  }

  .ds-menu-item-navbar.ds-menu-item-show-submenu > & {
    opacity: 1;
    visibility: visible;
    transform: translateY($space-x-small) scaleX(1);
    transition: all $duration-short $ease-out;
  }
}
